:root {
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 0px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

footer {
    display: flex;
    align-items: center;
}

.socialmedia img {
    width: 30px;
    height: auto;
    margin-left: 15px;

}

header img {
    max-width: 150px;
    height: auto;

}